
{% extends 'base.html'%}

{% block content%}

<h1>Air Quality Index (AQI) & Health </h1><br/>

Millions of people live in areas where air pollution can cause serious health problems. Local air quality can affect our daily lives. Like the weather, it can change from day to day. EPA developed the Air Quality Index, or AQI, to make information available about the health effects of the five most common air pollutants, and how to avoid those effects.<br/><br/>

Ground-level ozone and airborne particles are the two pollutants that pose the greatest threat to human health in this country. You can find information about these pollutants in the documents listed below. Ozone, also known as smog, can irritate your respiratory system, causing coughing, irritation in your throat or a burning sensation in your airways. It can reduce lung function, so that you may have feelings of chest tightness, wheezing, or shortness of breath. Ozone can aggravate asthma and trigger asthma attacks. People at greater risk from ground-level ozone are people with lung diseases, such as asthma, older adults and children and adults who are active outdoors.<br/><br/>

Particle pollution, also known as particulate matter, is composed of microscopic solids or liquid droplets that are so small that they can get deep into the lungs and cause serious health problems. When exposed to these small particles, people with heart or lung diseases and older adults are more at risk of hospital and emergency room visits or, in some cases, even death from heart or lung disease. Even if you are healthy, you may experience temporary symptoms from exposure to elevated levels of particles. Symptoms may include: irritation of the eyes, nose and throat; coughing; phlegm; chest tightness; and shortness of breath. At greatest risk from particle pollution are people with heart or lung disease, older adults (possibly because they may have undiagnosed heart or lung disease), and children.<br/><br/>




{% endblock%}