{% extends 'base.html' %}

{% block content %}
<head>
    <title>AQINow</title>
    
    <style>
        .Good {background-color: #0C0;}
        .Moderate {background-color: #FFFF00;}
        .UnhealthyForSensitiveGroups {background-color: #FF9900;}
        .Unhealthy {background-color: #FF0000;}
        .VeryUnhealthy {background-color: #990066;}
        .Hazardous {background-color: #660000;}
    </style>
</head>
<body>
    <h1> What's My AQI </h1>
    <form method="post">
        {% csrf_token %}
        <label for="zip_code">Enter ZIP Code:</label>
        <input type="text" id="zip_code" name="zip_code">
        <button type="submit">Check AQI</button>
    </form>
    
    {% if api %}
        {% for data in api %}
            <div class="jumbotron {% if 'Good' in data.CategoryName %}Good{% elif 'Moderate' in data.CategoryName %}Moderate{% elif 'UnhealthyForSensitiveGroups' in data.CategoryName %}UnhealthyForSensitiveGroups{% elif 'Unhealthy' in data.CategoryName %}Unhealthy{% elif 'VeryUnhealthy' in data.CategoryName %}VeryUnhealthy{% elif 'Hazardous' in data.CategoryName %}Hazardous{% endif %}">
                <h1 class="display-4">{{ data.ReportingArea }} ({{ data.StateCode }})</h1>
                <h2>{{ data.ParameterName }} AQI: {{ data.AQI }}</h2>
                <h2>Category: {{ data.CategoryName }}</h2>
                <h2>{{ data.Description }}</h2>
               
            </div>
        {% endfor %}
    {% else %}
        <p>No AQI data available</p>
    {% endif %}
</body>
{% endblock %}
</html>

